

main{

    background-color: #d9ffd7;
    width: 200px;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
    
    display: grid;
    place-items: center;

    
}

div{
    
    display: flex;
    
    


}


button{
    border: none;
    width: 100px;
    height: 30px;
    font: bold;
    display: grid;
    justify-self: center;
    cursor: pointer;
    color: white;
    font-size: 10px;
    background-color: #b00213;
    
    
}